.header-section{
    background-color: #F8F8F8;
}

.icon{
    color: #F85903; 
    vertical-align: bottom;
}

.white-icon{
    color: #fff;
}

.btn{
    background-color: #F85903;
}

.nav-section{
    background-color: #F85903;
}